/*
=============== 
Variables
===============
*/
:root {
	--clr-white: #fff;
	--clr-primary: rgb(248, 104, 88);
	--ff-primary: 'Poppins', sans-serif;
	--ff-secondary: 'Luxurious Roman', cursive;
	--spacing: 0.25rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	--border: 2px solid red;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--ff-primary);
	background: var(--clr-white);
	line-height: 1.5;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
	display: block;
}
h1,
h2,
h3,
h4 {
	text-transform: capitalize;
}
/* h1{
	font-size: 3.5rem;
}
h2 {
	font-size: 2.75rem;
}
h3{
	font-size: 1.75rem;
}
h4{
	font-size: 0.9rem;
} */
p{
	color: rgba(0, 0, 0, 0.9);
}
/* 
==============
Global Classes 
==============
*/
.btn {
	padding: 0.75rem 2.5rem;
	display: inline-block;
	border: 2px solid transparent;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: var(--radius);
	margin-bottom: 1rem;
	background: linear-gradient(45deg, var(--clr-primary), var(--clr-primary));
	color: var(--clr-white);
	font-size: 0.9rem;
	text-transform: capitalize;
	font-weight: normal;
}
.section-heading{
	margin-bottom: 1rem;
	font-family: var(--ff-secondary);
}
.section-heading span{
	color: var(--clr-primary);
}
/* .section-center{
	width: 78vw;
	margin: 0 auto;
	max-width: 1170px;
	min-height: 100vh;
}
.section-container{
	display: flex;
	flex-wrap: wrap;
}
.section-heading span{
	color: var(--clr-primary);
} */
/* 
==============
banner section
==============
*/
.section-banner{
	min-height: 100vh;
	width: 90vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.banner-img {
	width: 15rem;
	margin: 0 auto;
	margin-bottom: 1rem;
}
.banner-info {
	margin-bottom: 1rem;
}
.banner-info p {
	margin-bottom: 1rem;
}
.banner-heading{
	position: relative;
	padding-left: 1rem;
}
.banner-heading::before{
	content: "";
	width: 1%;
	height: 80%;
	background: var(--clr-primary);
	position: absolute;
	left: 0;
	top: 10%;
	border-radius: 10px;
}
.banner-heading-bottom{
	color: var(--clr-primary);
}
@media screen and (min-width: 768px) {
	.section-banner{
		width: 85vw;
	}
	.banner-container{
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
	}
	.banner-img {
		margin: 0;
		flex: 0 0 40%;
	}
	.banner-info {
		flex: 0 0 55%;
	}
	.banner-info h1 {
		font-size: 2.5rem;
	}
}
@media screen and (min-width: 992px) {
	.section-banner{
		width: 80vw;
	}
	.banner-info {
		flex: 0 0 50%;
	}
	.banner-info h1 {
		font-size: 3rem;
	}
}
@media screen and (min-width: 1170px) {
  .banner-info {
		flex: 0 0 45%;
	}
}
/*
=====================
end of banner section
=====================
*/

/* 
==================
My Mission Section
================== 
*/
.section-mymission{
	width: 70vw;
	margin: 0 auto;
}
.mymission-container{
	margin-bottom: 1rem;
}
.mymission-heading{
	text-align: center;
	font-size: 2rem;
	margin-bottom: 2rem;
}
.mymission-heading span{
	color: var(--clr-primary);
}
.mymission-card{
	border-radius: 30px;
	padding: 2rem;
	margin-bottom: 2rem;
}
.mymission-card-img{
	width: 50%;
	margin-bottom: 1rem;
}
.mymission-card-info h2{
	margin-bottom: 1rem;
}
.mymission-card-1{
	background-color: rgb(200, 241, 241);
}
.mymission-card-2{
	background-color: rgb(241, 207, 203);
}
.mymission-card-3{
	background-color: rgb(243, 225, 209);
}

@media screen and (min-width: 768px) {
  .section-mymission{
		width: 85vw;
	}
	.mymission-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.mymission-card{
		flex: 1 0 47%;
	}
	.mymission-card-1{
		margin-right: 2rem;
	}
	.mymission-heading{
		font-size: 2.5rem;
	}
}
@media screen and (min-width: 992px) {
  .section-mymission{
		width: 80vw;
	}
	.mymission-card{
		flex: 0 0 31.5%;
	}
	.mymission-card-1{
		margin-right: 0;
	}
}
/* 
=========================
End of My Mission Section
========================= 
*/

/* 
=============
Section Limit
============= 
*/
.section-limit{
	background-image: url("./images/shapes/shape-1.png");
  background-repeat: no-repeat;
	background-position: 23% 15%;
	background-size: 15%;
	margin: 2rem 0;
}
.limit-container{
	width: 90vw;
	margin: 0 auto;
}
.limit-heading h1{
	font-size: 2rem;
}
.limit-img{
	width: 50%;
	margin: 0 auto;
	margin-bottom: 1rem;
}
.limit-info p{
	margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
	.section-limit{
		background-position: 1% 50%;
	}
	.limit-container{
		width: 85vw;
	}
  .limit-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	.limit-img {
		margin: 0;
		flex: 0 0 40%;
	}
	.limit-info {
		flex: 0 0 54%;
	}
	.limit-heading h1{
		font-size: 2.5rem;
	}
}
@media screen and (min-width: 992px) {
	.section-limit{
		background-position: 5% 50%;
	}
  .limit-container{
		width: 80vw;
	}
	.limit-img {
		flex: 0 0 35%;
	}
	.limit-info {
		flex: 0 0 59%;
	}
}
/* 
====================
End of Section Limit
==================== 
*/

/* 
==============
Section Global
============== 
*/

/* 
=====================
End of Section Global 
=====================
*/

/* 
================
Section Timeline
================ 
*/

/* 
=======================
End of Section Timeline
======================= 
*/

/* 
==============
footer section
============== 
*/

/* 
=====================
end of footer section
===================== 
*/